body{
    padding-top: 127px!important;
}
.color-black{
    color:#000000;
}
.relative{
    position: relative;
}
.hidden-custom{
    display: none !important;
}
.visible{
    display: block;
}
#primary-menu > nav{

    width: 185px;
    background-color: #ffffff;
    top: 30%;
    position: fixed;
    right: 0;
    z-index: 999;
    /* -webkit-box-shadow: 1px 1px 1px 1px rgba(191,191,191,1); */
    -moz-box-shadow: 1px 1px 1px 1px rgba(191,191,191,1);
    /* box-shadow: 1px 1px 1px 1px rgba(191,191,191,1); */
    height: 200px;
    border: solid 3px #7AE2DE;
}
#primary-menu > nav ul{
    padding:10px 0;
}
.menu nav{
    margin-right: 0;
}
#primary-menu > nav ul li{
    width: 100%;
    padding:8px 0;
}
#primary-menu > nav ul li a{
    text-transform: uppercase;
    color: #33363B;
    font-weight: bold;
}
#primary-menu > nav ul li a:hover{
    color: #7AE2DE;

}
.form_connect{
    margin: 150px auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.field_connect {
    margin: 25px;
}
.myaddress .title-address {
    margin-bottom: 10px;
}
.myaddress .submit {
    width: 100%;
}
.myaddress .submit i{
    margin-left: 20px;
}
.menu {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100%;
    height: 68px;
}
#profile-formhr {
    margin-top: 20px;
}

#profile-form p {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #00aced;
}
#profile-form label {
    margin-top: 20px;
    font-weight: bold;
}

#profile-form input, #profile-form select {
    display: block;
    width: 100%;
}

#profile-form input[type="submit"] {
    margin: 20px auto;
    width: 200px;
    background-color: #00aced;
    color: white;
}

.latest-articles .has-overlay:after, .latest-articles .freebies .has-overlay:after {
    visibility: hidden;
}
.header-nav-wrapper nav{
    padding: 0;
}
.wp1{
    color: black;
}

.menu {
    position: fixed;
    top: 0;
    z-index: 9000;
    width: 100%;
    height: 68px;
}

/*
 * Page profil
 */
#profile-form hr {
    margin-top: 20px;
}

#profile-form p {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #00aced;
}
#profile-form label {
    margin-top: 20px;
    font-weight: bold;
}

#profile-form input, #profile-form select {
    display: block;
    width: 100%;
}

#profile-form input[type="submit"] {
    margin: 20px auto;
    width: 200px;
    background-color: #00aced;
    color: white;
}

/*
* Page produit
*/

.product-images {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

.product-image-main {
    margin-bottom: 5px;
}

.product-image-main, .product-image-main img {
    display: block;
    width: 100%;
}

.product-images li:not(.product-image-main) {
    display: inline-block;
    width: 49.55%;
    margin-top: 5px;
}

.product-description {
    display: inline-block;
    width: 58%;
    margin-left: 15px;
}

.product-title {
    padding: 0;
    color: #00aced;
}

.product-subtitle, .product-price {
    font-weight: bold;
}

.product-description p {
    width: 100%;
    margin: 0;
}

.green-alert {
    color: #109930;
}

.yellow-alert {
    color: #FFBB00;
}

.red-alert {
    color: #FF5050;
}

.stock-circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.green-alert .stock-circle {
    background: url('assets/img/green_circle.png') no-repeat center;
}

.yellow-alert .stock-circle {
    background: url('assets/img/yellow_circle.svg') no-repeat center;
}

.red-alert .stock-circle {
    background: url('assets/img/red_circle.png') no-repeat center;
}

.imgdummy{
    width: 100% !important;
    height:auto !important;
}

footer{
    height: 50px;
    background-color: black;
    padding: 1em;
}

.menu-backoffice{
    text-align: center;
}
.menu-link-backoffice {
    display: inline-block;
    background-color: #00aced;
    width: 16%;
    padding: 25px 0;
}
.content-backoffice {
    width: 70%;
    margin: 50px auto;
}
.body-backoffice{
    margin: 0;
    padding: 0;
}

.package-section h1{
    margin-top: 50px;
    color: #00aced;
}

.package-section h2 {
    color: black;
    padding: 0;
}

.pack-price {
    font-weight: bold;
}

.pack-discount {
    color: #FF5050;
}

.pack-element {
    display: inline-block;
    margin-right: 20px;
}

.pack-element-title {
    font-weight: bold;
}

.pack-element-price-rated {
    text-decoration: line-through;
}

.pack-final-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.form_connect{
    margin: 150px auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.field_connect {
    margin: 25px;
}
.myaddress .title-address {
    margin-bottom: 10px;
}
.myaddress .submit {
    width: 100%;
}
.myaddress .submit i{
    margin-left: 20px;
}
.list-animaux img {
    max-width: 100%;
}
.list-animaux .animal-br {
    display: block;
}
.description-animal {
    text-align: center;
}
.description-animal.void {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.description-animal.void:hover{
    background-color: #bbb
}
.description-animal.void i{
    align-items: center;
    font-size: 6em;
}
.addToutou {
    display: none;
}
span.noAvatar {
    padding-top: 15px;
    text-align: justify;
    display: block;
}
h1.titleCategory{
    margin-bottom: 1em;
}

ul.list-group li a{
    color: #33363B;
    -webkit-transition: ease .75s;
    -moz-transition: ease .75s ;
    -ms-transition: ease .75s;
    -o-transition: ease .75s;
    transition: ease .75s;
}
ul.list-group li a:hover{
    color: lime;
}