body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vh 1fr 3vh;
    grid-template-areas: "h"
    "m"
    "f";
}

header {
    grid-area: h;
    align-self: center;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}