.color-black{
    color:#000000;
}
.relative{
    position: relative;
}
.hidden-custom{
    display: none !important;
}
.visible{
    display: block;
}
.sticky-right{

}
#primary-menu > nav{

    width: 185px;
    background-color: #ffffff;
    top: 30%;
    position: fixed;
    right: 0;
    z-index: 999;
    /* -webkit-box-shadow: 1px 1px 1px 1px rgba(191,191,191,1); */
    -moz-box-shadow: 1px 1px 1px 1px rgba(191,191,191,1);
    /* box-shadow: 1px 1px 1px 1px rgba(191,191,191,1); */
    height: 200px;
    border: solid 3px #7AE2DE;
}	
#primary-menu > nav ul{
	padding:10px 0px;
}

#primary-menu > nav ul li{
	width: 100%;
	padding:8px 0px;
}
#primary-menu > nav ul li a{
	text-transform: uppercase;
	color: #33363B;
	font-weight: bold;
}
#primary-menu > nav ul li a:hover{
	color: #7AE2DE;

}
.form_connect{
    margin: 150px auto;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.field_connect {
    margin: 25px;
.myaddress .title-address {
    margin-bottom: 10px;
}
.myaddress .submit {
    width: 100%;
}
.myaddress .submit i{
    margin-left: 20px;
}